body {
  font-family: sans-serif;
  background-color: #fff8f8;
  margin: 0;
  padding: 0;
}

/*****HEADER*****/
header{
    display: block;
    width:60%;
    margin-left: 20%;
    overflow: hidden;
}

/*****BRANDING*****/
#branding{ 
    margin-left: 20%;/*左端から20%右側に動かす*/
}  
#branding p{
    color: #008080;           /*文字色の変更*/
    font-size: 80%;           /*フォントサイズの調整*/
    text-align: center;       /*中央揃え*/
    letter-spacing: 5px;      /*文字と文字の間隔をあける*/ 
}

h2{
  width: 300px;
  height: 40px;
  background-color: #008080;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding-top:20px;
  border-radius:8px;
  border: 1px solid #fff;
}
h3 {
    margin: 35px 0 0;
    padding: 0 0 6px;
    border-bottom: solid 1px #ccc;
    font-size: 20px;
}
 
h3::before {
    margin: 0 6px 0 0;
    content: "\f0dd";
    color: #26990A;
    font-family: FontAwesome;
    position: relative;
    top: -4px;
}

/*****NAV*****/
nav{
border-bottom: 1px solid #ccc; /*下ボーダー・細め1本線・ライトグレー*/
}
nav ul{
display: table;
margin: 0 auto;
padding: 0;
width: 80%;
text-align: center;/*中央揃え*/
}
nav ul li{
display: table-cell;/*横並びにしてる*/
min-width: 50px;
border-right: 1px solid #ccc;
}
nav ul li:first-child{
border-left: 1px solid #ccc;
}
nav ul li a{
display: block;
width: 100%;
padding: 10px 0;
text-decoration: none;
color: #aaa;
}
nav ul li a:hover{
background-color:#F8E750;
border-bottom: 5px solid #F8E750;
}
nav ul li.current{
font-weight: bold;
}
nav ul li.current a{
border-bottom: 5px solid #00B0F0;
color: #00B0F0;
}

  /*メニュー項目のブロック全体*/
.bio h3{
	margin:0 0 7px 0;	/*h3タグの領域の外側の余白。上、右、下、左の順で指定*/
	padding:5px 0 5px 5px;	/*h3タグの領域の内側の余白。指定順はmarginと同様*/
	background:#ecece9;	/*h3タグの領域を塗りつぶす背景色*/
	border-left:7px solid #fcec0b;	/*左端の黄色の柱は線の設定で描く。線の太さ、線の形状、色の順で指定*/
	font-size:18px;	/*文字の大きさ*/
	line-height:1.3em;	/*行間*/
	display: block;
    	width:30%
}
.bio ul{
	margin:0;	/*ulタグの領域の外側の余白を0にリセット*/
	padding:0;	/*ulタグの領域の内側の余白を0にリセット*/
	list-style:none;	/*メニュー項目先頭の黒丸を消去*/
}

.bio li a{
    background:url(icon_ichigo_16.png) no-repeat 0 6px;	/*苺アイコンは背景として敷く。背景画像は繰り返さず、横0、上6px空けて配置する*/
	padding:3px 0 3px 18px;	/*苺アイコンとメニュー項目の文字がカブらないように、左側を18px空ける*/
	border-bottom:1px solid #f7b1a6;	/*メニュー項目の上下の区切り線。下にだけ引く*/
	font-size:14px;
	line-height:1.3em;
	display:block;	/*文字だけでなく、1段丸ごとリンクにする*/
	text-decoration:none;	/*リンクの下線を消す*/
	color:#333333;	/*リンクの文字色を指定*/
	width:30%

}
/*メニュー項目のリンクにマウスオーバーしたときの設定*/
.bio li a:hover{
    color:#666666;	/*リンクの文字色をグレー切り替え*/
	background:url(icon_ichigo_16.png) no-repeat 0 6px #ffdcd7;	
}

.ichigojamlink h3{
	margin:0 0 7px 0;	/*h3タグの領域の外側の余白。上、右、下、左の順で指定*/
	padding:5px 0 5px 5px;	/*h3タグの領域の内側の余白。指定順はmarginと同様*/
	background:#ecece9;	/*h3タグの領域を塗りつぶす背景色*/
	border-left:7px solid #fc3b0b;	/*左端の赤の柱は線の設定で描く。線の太さ、線の形状、色の順で指定*/
	font-size:18px;	/*文字の大きさ*/
	line-height:1.3em;	/*行間*/
}
.ichigojamlink ul{
	margin:0;	/*ulタグの領域の外側の余白を0にリセット*/
	padding:0;	/*ulタグの領域の内側の余白を0にリセット*/
	list-style:none;	/*メニュー項目先頭の黒丸を消去*/
}

.ichigojamlink a{
    background:url(icon_ichigo_16.png) no-repeat 0 6px;	/*苺アイコンは背景として敷く。背景画像は繰り返さず、横0、上6px空けて配置する*/
	padding:3px 0 3px 18px;	/*苺アイコンとメニュー項目の文字がカブらないように、左側を18px空ける*/
	border-bottom:1px solid #f7b1a6;	/*メニュー項目の上下の区切り線。下にだけ引く*/
	font-size:14px;
	line-height:1.3em;
	display:block;	/*文字だけでなく、1段丸ごとリンクにする*/
	text-decoration:none;	/*リンクの下線を消す*/
	color:#333333;	/*リンクの文字色を指定*/
	width:30%

}
/*メニュー項目のリンクにマウスオーバーしたときの設定*/
.ichigojamlink li a:hover{
    color:#666666;	/*リンクの文字色をグレー切り替え*/
	background:url(icon_ichigo_16.png) no-repeat 0 6px #ffdcd7;	
}


/****FOOTER****/
footer{
    font-size: 80%; /*フォントサイズの指定*/
    width: 100%;    /*横幅の指定*/
    text-align: center; /*文字の中央寄せ*/
    padding-top: 10px;  /*文字上部の余白指定*/
    padding-bottom: 10px;   /*文字下部の余白指定*/
    background-color: #313131;  /*背景色の指定*/
}
footer address{
    color: #fff;    /*文字色の指定*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
    font-style: normal; /*文字の斜体を取り消す*/
}
