body {
  font-family: sans-serif;
  background-color: #fff8f8;
  margin: 0;
  padding: 0;
}

/*****HEADER*****/
header{
    display: block;
    width:60%;
    margin-left: 20%;
    overflow: hidden;
}

/*****BRANDING*****/
#branding{ 
    margin-left: 20%;/*左端から20%右側に動かす*/
}  
#branding p{
    color: #008080;           /*文字色の変更*/
    font-size: 80%;           /*フォントサイズの調整*/
    text-align: center;       /*中央揃え*/
    letter-spacing: 5px;      /*文字と文字の間隔をあける*/ 
}

h2{
  width: 300px;
  height: 40px;
  background-color: #008080;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding-top:10px;
  border-radius:8px;
  border: 1px solid #fff;
}
h3 {
    margin: 35px 0 0;
    padding: 0 0 6px;
    border-bottom: solid 1px #ccc;
    font-size: 10px;
}
 
h3::before {
    margin: 0 6px 0 0;
    content: "\f0dd";
    color: #26990A;
    font-family: FontAwesome;
    position: relative;
    top: -4px;
}

/*****NAV*****/
nav{
border-bottom: 1px solid #ccc; /*下ボーダー・細め1本線・ライトグレー*/
}
nav ul{
display: table;
margin: 0 auto;
padding: 0;
width: 80%;
text-align: center;/*中央揃え*/
}
nav ul li{
display: table-cell;/*横並びにしてる*/
min-width: 50px;
border-right: 1px solid #ccc;
}
nav ul li:first-child{
border-left: 1px solid #ccc;
}
nav ul li a{
display: block;
width: 100%;
padding: 10px 0;
text-decoration: none;
color: #aaa;
}
nav ul li a:hover{
background-color:#F8E750;
border-bottom: 5px solid #F8E750;
}
nav ul li.current{
font-weight: bold;
}
nav ul li.current a{
border-bottom: 5px solid #00B0F0;
color: #00B0F0;
}


/****FOOTER****/
footer{
    font-size: 80%; /*フォントサイズの指定*/
    width: 100%;    /*横幅の指定*/
    text-align: center; /*文字の中央寄せ*/
    padding-top: 10px;  /*文字上部の余白指定*/
    padding-bottom: 10px;   /*文字下部の余白指定*/
    background-color: #313131;  /*背景色の指定*/
}
footer address{
    color: #fff;    /*文字色の指定*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
    font-style: normal; /*文字の斜体を取り消す*/
}
