/*****HEADER*****/
header{
    display: block;
    width:60%;
    margin-left: 20%;
    overflow: hidden;
  }


body{
    font: 100%/1.4;
    font-family:'メイリオ', sans-serif;
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #fff8f8;
    height:auto;
    background-image:url("bg_amabie_p.jpg"),url("bg_gayoushi.jpg");
    background-size:150px 150px,auto 256px;   
    background-repeat: repeat-x,repeat;
}

body > #container {
    height: auto;
}

.contents_works {
    display: block;
	padding-top: 40px;
	padding-bottom: 50px;
	margin: 0 auto;
	color: #666;
	width: 100%;
}

.worksTable {
    margin: 0 auto;
    font-size:15px;
    text-align:center;  
}


  /*****NAV*****/
  nav{
    background:#F7F7F7;
    border-bottom: 1px solid #ccc; /*下ボーダー・細め1本線・ライトグレー*/
    width: 100%;
    text-align:center;
    overflow: visible;
    white-space:nowrap;
    }
    
    nav ul{
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
    }
    
    nav ul li{
    display: table-cell;/*横並びにしてる*/
    min-width: 100%;
    border-right: 1px solid #ccc;
    }
    
    nav ul li:first-child{
    border-left: 1px solid #ccc;
    }
    
    nav ul li a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #aaa;
    font-size:0.8rem;
    }
    
    nav ul li a:hover{
    background-color:#F8E750;
    border-bottom: 5px solid #F8E750;
    }
    
    nav ul li.current{
    font-weight: bold;
    }
    
    nav ul li.current a{
    border-bottom: 5px solid #00B0F0;
    color: #00B0F0;
    }


.aboutTable{
    margin: 0 auto;
    width: 90%;
    background-color:rgba(255,255,255,0.5);
}    

.info{
    margin: 0 auto;
    width: 100%;
    text-align: left;
   
}

.info h3{
    padding: .25em 0 .5em .75em;
    background-color: #f6f6f6;
    border-left: 6px solid #008080;
    border-bottom: 1px solid #ccc;
    width: 50%;
}

.map{
    margin: 0 auto;
    width:70vmin;
    text-align: center; 
}

h2{
  width: 30%;
  height: 30px;
  background-color: #008080;
  text-align: center;
  color: #fff;
  font-size: 10px;
  padding-top:15px;
  border-radius:8px;
  border: 1px solid #fff;
}

h3{
    color:#008080;
}


/*メニュー項目のブロック全体*/
.ichigojamlink h3{
	margin:0 0 7px 0;	/*h3タグの領域の外側の余白。上、右、下、左の順で指定*/
	padding:5px 0 5px 5px;	/*h3タグの領域の内側の余白。指定順はmarginと同様*/
	background:#ecece9;	/*h3タグの領域を塗りつぶす背景色*/
	border-left:7px solid #fc3b0b;	/*左端の赤の柱は線の設定で描く。線の太さ、線の形状、色の順で指定*/
	font-size:18px;	/*文字の大きさ*/
	line-height:1.3em;	/*行間*/
}
.ichigojamlink ul{
	margin:0;	/*ulタグの領域の外側の余白を0にリセット*/
	padding:0;	/*ulタグの領域の内側の余白を0にリセット*/
	list-style:none;	/*メニュー項目先頭の黒丸を消去*/
}

.ichigojamlink a{
    background:url(icon_ichigo_16.png) no-repeat 0 6px;	/*苺アイコンは背景として敷く。背景画像は繰り返さず、横0、上6px空けて配置する*/
	padding:3px 0 3px 18px;	/*苺アイコンとメニュー項目の文字がカブらないように、左側を18px空ける*/
	border-bottom:1px solid #f7b1a6;	/*メニュー項目の上下の区切り線。下にだけ引く*/
    font-size:14px;
    text-align: left;
	line-height:1.3em;
	display:block;	/*文字だけでなく、1段丸ごとリンクにする*/
	text-decoration:none;	/*リンクの下線を消す*/
    color:#333333;	/*リンクの文字色を指定*/
    width:50%

}
/*メニュー項目のリンクにマウスオーバーしたときの設定*/
.ichigojamlink li a:hover{
    color:#666666;	/*リンクの文字色をグレー切り替え*/
	background:url(icon_ichigo_16.png) no-repeat 0 6px #ffdcd7;	
}


 /****FOOTER****/
 footer{
    margin-top:15px;
    font-size: 80%;                 /*フォントサイズの指定*/
    width: 100%;                    /*横幅の指定*/
    text-align: center;             /*文字の中央寄せ*/
    padding-top: 10px;              /*文字上部の余白指定*/
    padding-bottom: 10px;           /*文字下部の余白指定*/
    background-color: #B079FF;    /*背景色の指定*/
}

footer address{
    color: #fff;          /*文字色の指定*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
    font-style: normal;     /*文字の斜体を取り消す*/
}
