body {
  font-family: sans-serif;
  background-color: #fff8f8;
  margin: 0;
  padding: 0;
}

/*****HEADER*****/
header{
    display: block;
    width:60%;
    margin-left: 20%;
    overflow: hidden;
}

h1 {
  font-size:120%; /*フォントサイズの調整*/
  color:#313131; /*文字色の変更*/
  margin: .5em 0;
  padding-top: 10px; /*文字上部に余白*/
  padding-bottom: 10px; /*文字下部に余白*/
  padding-left: 20px; /*文字左側に余白*/
  padding-right: 20px; /*文字右側に余白*/
  font-weight:400; /*文字の太さの変更*/  
}

/*****BRANDING*****/
#branding{ 
    margin-left: 20%;/*左端から20%右側に動かす*/
    background-image:url(https://pcnakiba.github.io/website/Ichigojam.png
);          /* 画像のURLを指定       */
    background-repeat:  no-repeat;                /* 画像の繰り返しを指定  */   
    background-size: cover;
    margin-bottom: 20px;
}
  
#branding p{
    color: #fff;/*文字色の変更*/
    font-size: 120%; /*フォントサイズの調整*/
    padding-left: 3%; /*文字の左側に余白をあける*/
    letter-spacing: 10px;                         /*文字と文字の間隔をあける*/ 
}

/*****NAV*****/
nav{
border-bottom: 1px solid #ccc; /*下ボーダー・細め1本線・ライトグレー*/
}
nav ul{
display: table;
margin: 0 auto;
padding: 0;
width: 80%;
text-align: center;/*中央揃え*/
}
nav ul li{
display: table-cell;/*横並びにしてる*/
min-width: 50px;
border-right: 1px solid #ccc;
}
nav ul li:first-child{
border-left: 1px solid #ccc;
}
nav ul li a{
display: block;
width: 100%;
padding: 10px 0;
text-decoration: none;
color: #aaa;
}
nav ul li a:hover{
background-color:#F8E750;
border-bottom: 5px solid #F8E750;
}
nav ul li.current{
font-weight: bold;
}
nav ul li.current a{
border-bottom: 5px solid #00B0F0;
color: #00B0F0;
}


/****FOOTER****/
footer{
    font-size: 80%; /*フォントサイズの指定*/
    width: 100%;    /*横幅の指定*/
    text-align: center; /*文字の中央寄せ*/
    padding-top: 10px;  /*文字上部の余白指定*/
    padding-bottom: 10px;   /*文字下部の余白指定*/
    background-color: #313131;  /*背景色の指定*/
}
footer address{
    color: #fff;    /*文字色の指定*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
    font-style: normal; /*文字の斜体を取り消す*/
}
