body {
  font-family: sans-serif;
  background-color: #fff8f8;
  margin: 0;
  padding: 0;
}
h1 {
  font-size:120%; /*フォントサイズの調整*/
  color:#313131; /*文字色の変更*/
  margin: .5em 0;
  padding-top: 10px; /*文字上部に余白*/
  padding-bottom: 10px; /*文字下部に余白*/
  padding-left: 20px; /*文字左側に余白*/
  padding-right: 20px; /*文字右側に余白*/
  border:1px solid #313131; /*文字の周りに線を描く*/
  border-radius: 5px; /*線の角に丸みを付ける*/
  letter-spacing: 3px; /*文字と文字の間隔をあける*/
  font-weight:400; /*文字の太さの変更*/  
}

div {
  padding: .5em 2em;
}


#nav {
  list-style: none;
} 
#nav li {
  width: 140px;
  text-align: center;
  background-color: #333;
}
#nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
