/*****HEADER*****/

header{

    display: block;
    width:60%;
    margin-left: 20%;
    overflow: hidden;

}

body {

    font-family: sans-serif
    background-color: #fff8f8;
    background-image: url("../works/woks-bg.jpg");
    background-repeat:repeat;
    margin: 0;
    padding: 0;
  }

.setumei{
    background: #ffffff;
    width: 80%;
    text-align: center;       /*中央揃え*/
    padding: 10px;
    border: 3px solid #cccccc;
    margin: 30px auto;
}
.setumei h1{
    color: #008080;           /*文字色の変更*/
    font-size: 90;              /*フォントサイズの調整*/
    letter-spacing: 15px;       /*文字と文字の間隔をあける*/ 

}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center; 
  }

  .item{
    text-align: center;
    width: 200px;
    height: 200px;
    padding : 2%;
    margin : 2%;
    background-color: #c97796;
    color: white;
  }

  /****FOOTER****/

footer{

    font-size: 80%;                 /*フォントサイズの指定*/
    width: 100%;                    /*横幅の指定*/
    text-align: center;             /*文字の中央寄せ*/
    padding-top: 10px;              /*文字上部の余白指定*/
    padding-bottom: 10px;           /*文字下部の余白指定*/
    background-color: #313131;    /*背景色の指定*/

}

footer address{
    color: #fff;          /*文字色の指定*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
    font-style: normal;     /*文字の斜体を取り消す*/

}

