/*****HEADER*****/

header{
    display: block;
    width:60%;
    margin-left: 20%;
    overflow: hidden;
  }


  body {
    font: 100%/1.4;
    font-family:'メイリオ', sans-serif;
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #fff8f8;
    height:auto;
    background-image:url("bg_amabie_p.jpg"),url("bg_gayoushi.jpg");
    background-size:150px 150px,auto 256px;
    background-repeat:repeat-x,repeat;
}

  body > #container {
    height: auto;
}

/****見出し用ボタン****/
 .sakuhin_btn{
    width:200px;
    height:35px;
    line-height:35px;
    margin: 15px;
  }

  .sakuhin_btn a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#B079FF;
    text-align:center;
    border-left:7px solid #FFFFFF;
    color:#FFFFFF;
    font-size:20px;
    font-weight:bold;
    box-shadow:0px 2px 2px 0px #DEDEDE ;
  }

  .sakuhin_btn a:hover{
    background:#F7F7F7;
    color:#E00FFF;
    margin-left:0px;
    margin-top:0px;
    border-left:7px solid #E00FFF;
    box-shadow:none;
  }

  /*****NAV*****/
nav{
  background:#F7F7F7;
  border-bottom: 1px solid #ccc; /*下ボーダー・細め1本線・ライトグレー*/
  }
  
  nav ul{
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;/*中央揃え*/
  }
  
  nav ul li{
  display: table-cell;/*横並びにしてる*/
  min-width: 50px;
  border-right: 1px solid #ccc;
  }
  
  nav ul li:first-child{
  border-left: 1px solid #ccc;
  }
  
  nav ul li a{
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #aaa;
  }
  
  nav ul li a:hover{
  background-color:#F8E750;
  }
  
  nav ul li.current{
  font-weight: bold;
  }
  
  nav ul li.current a{
  border-bottom: 5px solid #00B0F0;
  color: #00B0F0;
  }

.setumei{
   position:relative; 
   top:10px;  
   background-color:rgba(255,255,255,0.8);
   width: 100%;
   border: 2px solid #B079FF;
   margin: 0 auto;
   text-align:center;
   margin-bottom: 20px;
}
.setumei h1{
    color: #008080;           /*文字色の変更*/
    font-size: 90;              /*フォントサイズの調整*/
    letter-spacing: 15px;       /*文字と文字の間隔をあける*/ 

}

.items3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } 
.item{
    width: 100%;
  }

  .items3 .item {
    width: 30%;
  }

  .item-img{
    padding : 0;
  }

  .item-body {
    padding: 0;
  }
  .item-title {
    margin: 0 0 8px;
    font-size: 15px;
    font-weight: 700;
    color: #ef50c7;
  }


/****工事中ページ用****/  
  .comingsoon{
    position:relative; 
    top:10px; 
    width: 90%;
    margin: 0 auto;
    text-align:center;
}

/****お問合せページ用****/
  .contact{
    position:relative;
    top:20px;
    width: 760px;
    margin: 0 auto;
  }

/****作品紹介****/

.contents_works {
	padding-top: 40px;
	padding-bottom: 50px;
	margin: auto auto;
	color: #666;
	width: 800px;
}

.worksTable {
	margin: 0 auto;
	width: 85vw;
	font-size:15px;
}

.idxPage {
  margin: auto auto; 
}

.idxPage td {
  vertical-align: top;
}
.idxPage img {
  width: 23vw;
  height: 23vw;
}

.mainPhoto {
	float:left;
	margin-right:24px;
	margin-left:8px;
  padding-bottom:24px;
}

p.flv {
	padding-top: 0;
	color:#ff9db6;
	font-weight:400;
	font-size:20px;
}
span.flv {
	color:#ff9db6;
	font-weight:400;
	font-size:20px;
}

span.flv3 {
	color:#CC3366;
}

.prf {
	float:right;
	width:50%;
        height:350px;
	color: #666;
}


.nameBox{
	position:left; 
	margin-bottom: 20px;
	border: 1px solid #B079FF;
	border-radius: 5px; 
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */  
    background-color:rgba(255,255,255,0.8);
	padding: 10px 20px;
	width: 40%;
}


/****手順紹介****/
table.type06 {
	margin: 20px 10px;
	width: 400px;
	font-size:12px;
	border-collapse: collapse;
	text-align: left;
	line-height: 1;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
table.type06 th {
	font-size:12px;
	width: 100px;
	padding: 8px;
	vertical-align: top;
}
table.type06 td {
	font-size:12px;
	width: 300px;
	padding: 8px;
	vertical-align: top;
	font-weight: bold;
}
table.type06 .even {
	background: #efefef;
}

  /****FOOTER****/

footer{
    margin-top:15px;
    font-size: 80%;                 /*フォントサイズの指定*/
    width: 100%;                    /*横幅の指定*/
    text-align: center;             /*文字の中央寄せ*/
    padding-top: 10px;              /*文字上部の余白指定*/
    padding-bottom: 10px;           /*文字下部の余白指定*/
    background-color: #B079FF;    /*背景色の指定*/

}

footer address{
    color: #fff;          /*文字色の指定*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
    font-style: normal;     /*文字の斜体を取り消す*/
}

.clear { clear:both; }      /*おまじない*/
.clear hr { display:none;} 
